* {
  // Catppuccin Mocha Palette
  rosewater:    #f5e0dc;
  flamingo:     #f2cdcd;
  pink:         #f5c2e7;
  mauve:        #cba6f7;
  red:          #f38ba8;
  maroon:       #eba0ac;
  peach:        #fab387;
  yellow:       #f9e2af;
  green:        #a6e3a1;
  teal:         #94e2d5;
  sky:          #89dceb;
  sapphire:     #74c7ec;
  blue:         #89b4fa;
  lavender:     #b4befe;
  text:         #cdd6f4;
  subtext1:     #bac2de;
  subtext0:     #a6adc8;
  overlay2:     #9399b2;
  overlay1:     #7f849c;
  overlay0:     #6c7086;
  surface2:     #585b70;
  surface1:     #45475a;
  surface0:     #313244;
  base:         #1e1e2e;
  mantle:       #181825;
  crust:        #11111b;

  // Temporary opacity variants
  // In the future, replace usage with `@var / opacity`
  overlay2-6: rgba(147, 153, 178, 6%);
  overlay0-20: rgba(108, 112, 134, 20%);
  base-85: rgba(30, 30, 46, 85%);

  separatorcolor: transparent;
  // selected-normal-background: @overlay2 / 6%;
  selected-normal-background: @overlay2-6;
  normal-background: transparent;
  alternate-normal-background: transparent;
}

configuration {
  font: "JetBrainsMono Nerd Font Mono 12";
  padding: 10px;
}

window {
  border-radius: 6px;
  border: 1px solid;
  border-color: @crust;
  // background-color: @base / 85%;
  background-color: @base-85;
  padding: 0px;
  width: 30%;
  height: 50%;
}

entry {
  placeholder: "";
  text-color: @text;
  padding: 8px 0 8px 8px;
}

inputbar {
  children: [entry];
}

mainbox {
  border: 2px;
  // border-color: @overlay0 / 20%;
  border-color: @overlay0-20;
  border-radius: 6px;
  padding: 10px;
}

textbox {
  text-color: @text;
}

listview {
  cycle: false;
}

element {
  padding: 10px 10px;
  height: 50px;
  border-radius: 5px;
  spacing: 15px;
}

element-text {
  text-color: @subtext1;
}

scrollbar {
  handle-color: @surface0;
  handle-width: 4px;
  padding: 0;
}
